/* Remove default margin and padding */


/* Set navbar and header at the top */
header {
    background-color: #800000;
    color: #fff;
    margin-top: 0;
}

.navbar {
    background-color: #333; /* Dark gray */
    color: #fff; /* White text */
}
.container {
    background-color: #333; /* Dark gray */
    color: #fff; /* White text */
}
.bio {
    background-color: #333; /* Dark gray */
    color: #fff; /* White text */
}

/* Ensure the content section follows the navbar */
section {
    background-color: #333;
    color: #ffffff;
    margin-top: 0;
}

/* Optional: set the body background color to white or any preferred color */
body {
    background-color: #333;
}

img.rounded-circle {
    border: 5px solid #fff;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
